<p id="notice"><%= notice %></p>

<p>
  <strong>Fileable:</strong>
  <%= @image.fileable %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>File:</strong>
  <%= image_tag @image.file_url if @image.file? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @image.content_type %>
</p>

<p>
  <strong>Digest:</strong>
  <%= @image.digest %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
